.footer{
    width: 60%;
    display: flex;
    margin: auto;
    margin-left: 60px;
   
   justify-content: space-around;
    
}
.back{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.footer>div{
    width: 25%;
    height: auto;
    margin-top: 35px;
    
}
.str>li{
margin-top: 10px;
font-size: 14px;
list-style: none;
}
.str>li:hover{
    text-decoration: underline;
    cursor: pointer;
}
.subscribe{
    margin-top: 20px;
    margin-bottom: 10px;
}
.info{
    font-weight: bolder;
}
.payML{
    width: 40%;
    height:auto;
    margin: auto;
    border: 1px solid red;
}
.wrapper {
    width: 100%;
    height: 120px;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    padding-top: 10px;
  }
  
  .paymentCard {
    /* border: 1px solid black; */
    margin-top: auto;
    width: 500px;
    height: 70px;
    margin: auto;
  }
  .icon {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(18, 18, 18, 0.75);
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0.7px;
  }
  .itfp {
    margin: 10px;
  }
  .socialIcons{
    position: relative;
    width: 100px;
    /* top: 10px; */
    padding-top: 310px;
    right: 5%;
  }