.container{
    width: 60%;
    height:  500px; 
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    border: 1px solid red;
    
}
.container>div{
    width: 50%;
    height: 100%;
    margin: auto;
    background-color: teal;
}
.container>div:nth-child(1){
    background-color: black;
}
.firstDiv{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.firstDiv{
    width: 100%;
    height: 50%;
    border: 1px solid red;
}