/* .container{
    width: 46%;
    height:  auto; 
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    border: 1px solid red;
    
}
.container>div{
    width: 50%;
    height: 100%;
    margin: auto;
    
   
}
.container>div:nth-child(1){
    height: auto;
    width: 60%;
}
.container>div:nth-child(2){
    
    width: 300px;
    margin-top: 0px;
   
    border: 1px solid green;
}
.firstDiv{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.firstDiv>div{
    width: 100%;
    height: 50%;
  
}
.twoImage{
    width: 100%;
    height: 100%;
    display: flex;
gap: 8px;
}
.twoImage>div{
    width: 50%;
    height: 100%;
  
}
.lovoda10px{
    font-size: 10px;
    color: #999999;
}
.nameOfProducts{
    font-size: 30px;
    
    color: #121212;
    line-height: 40px;
} */
.wrapper {
    width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  .left {
    width: 715px;
  }
  .left > img {
    width: 100%;
    height: 1074px;
    margin: 40px 10px 10px 10px;
  }
  .right {
    
    width: 345px;
    margin-left: 10px;
  }
  .right h1 {
    font-size: 40px;
    font-weight: 400;
    text-align: left;
    letter-spacing: 0.6px;
    line-height: 52px;
    margin-bottom: 15px;
    /* padding-left: 50px; */
    /* border: 1px solid black; */
    width: 345px;
    margin-top: 50px;
  }
  .icon {
    display: flex;
    justify-content: flex-start;
  }
  button {
    color: black;
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
  }
  .lovoda10px{
    font-size: 10px;
    color: #999999;
    margin-top: 40px;
    margin-bottom: -50px;
}
.afterpay{
    font-weight: bolder;
   
    
}
.shippingC{
    margin-left: -100px;
    margin-top: 10px;
}
.shippingC>span{
    text-decoration: underline;
    cursor: pointer;
}
.shippingC>span:hover{
    text-decoration-thickness:2px;
}
.buyBtn:hover{
border: 2px solid black;
}
.firstDiv{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.firstDiv>div{
    width: 100%;
    height: 50%;
  
}
.firstDiv>div>img{
    width: 100%;
}
.twoImage{
    width: 100%;
    height: 100%;
    display: flex;
gap: 8px;
}
.twoImage>div{
    width: 50%;
    height: 100%;
  
}